P{
    text-align: center;
    font-size: xx-large;
    font-size: 40px;
    font-style: italic;
}
H1{
    text-align: center;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-image: url("add image.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
