<h1 class="title">Employees Database Form</h1><br><br>
<div class="box">
  <div class="form"><form (ngSubmit)="onSubmit(userform.value)" #userform="ngForm">
    <div class="row">
      <div class="row col-sm-5">
        <div class="form-group">
          <label for="slno">Serial no:</label>
          <input type="Number" id="no" name="serialno" ngModel class="form-control" required>
        </div><br>
        <div class="form-group">
          <label for="firstname">First name:</label>
          <input type="text" id="firstname" name="firstname" ngModel class="form-control" required>
        </div><br>
        <div class="form-group">
          <label for="lastname">Last name:</label>
          <input type="text" id="lastname" name="lastname" ngModel class="form-control" required>
        </div><br>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" ngModel class="form-control" required email  
          #email="ngModel">
          <span class="help-block" *ngIf="!email.valid&&email.touched">Please enter a valid Email.id</span>
        </div><br><br>
        <div class="form-group">
          <br><label for="gender">Gender:</label>&nbsp;&nbsp;&nbsp;
          <input type="radio" value="male" name="gender" ngModel required>:Male
          <input type="radio" value="female" name="gender" ngModel required>:Female
        </div><br><br>
        <div class="form-group">
          <br><label for="contactno">Contact number:</label><br>
          <input type="number" id="contactno" name="contactno"  ngModel required>
        </div>
        </div>
        <div class="row col-sm-2"></div>
        <div class="row col-sm-5">
          <div class="form-group">
            <div class="from-group">
              <br><label for="state">State:</label>
              <select id="state" name="state" [ngModel]="'Karnataka'" class="form-control" required>
                <option *ngFor="let S of State">
                  {{S.state}}
                </option>
              </select>
            </div><br>
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" name="city" ngModel class="form-control" required>
            </div><br>
            <div class="form-group">
              <label for="role">Designation:</label>&nbsp;
              <select id="role" name="role" ngModel class="form-contol" required>
                <option *ngFor="let D of Design">
                  {{D.designs}}
                </option>
              </select>
            </div><br>
            <div class="form-group">
              <label for="exp">Experience:</label>&nbsp;
              <input type="number" name="exp" ngModel class="form-contol" required>
            </div>
          </div>
        </div>
    </div>
  <br>
  <h2><div class="form-group">
    <button type="submit" value="{{editmode?'Update':'Add'}}"class="btn btn-dark" [disabled]="!userform.valid">Submit</button>
  </div></h2></form></div>
    <table>
    <thead>
      <tr>
    <th class="tableHead">Serial no:</th>
    <th class="tableHead">FirstName</th>
    <th class="tableHead">LastName</th>
    <th class="tableHead">Email</th>
    <th class="tableHead">Gender</th>
    <th class="tableHead">ContactNumber</th>
    <th class="tableHead">State</th>
    <th class="tableHead">City</th>
    <th class="tableHead">Designation</th>
    <th class="tableHead">Experience</th></tr>
    <tr *ngIf="allEmployees.length<1 && !isfetching">
      <td colspan="10">No Record Found!!!</td>
    </tr>
    <tr *ngIf="isfetching">
      <td colspan="10">Loading...</td>
    </tr>
    </thead>
     <tbody>
      <tr *ngFor="let user of allEmployees;index as i">
        <td>{{i+1}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.contactno}}</td>
      <td>{{user.state}}</td>
      <td>{{user.city}}</td>
      <td>{{user.role}}</td>
      <td>{{user.exp}}</td>
      <td><button class="btn-delete" (click)="ondelete(user.no)">Delete</button></td>
      <td><button class="btn-edit" (click)="onedit(user.no)">Edit</button></td></tr>
     </tbody>
    </table>
    <div class="action-btn-container">
      <button class="btn-fetch" type="submit" (click)="onemployeefetch()">Fetch Employee</button>&nbsp;&nbsp;
      <button class="btn-clear" (click)="ondeleteall()">Clear All</button>
    </div>
    <div *ngIf ="submitted">